
.playfair {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.playfair-300 {
  font-weight: 300;
}

.playfair-400 {
  font-weight: 400;
}

.playfair-500 {
  font-weight: 500;
}

.playfair-600 {
  font-weight: 600;
}

.playfair-700 {
  font-weight: 700;
}

.playfair-800 {
  font-weight: 800;
}

.playfair-900 {
  font-weight: 900;
}