.hero {
    background: url('/images/hero.png');
    z-index: 90;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.overlay {
    z-index: 100;
    background-color: var(--neutral-transparent);
    backdrop-filter: blur(4px);
    position: absolute;
    inset: 0;
}

.hero-content {
    width: 90%;
    padding: 20px;
    gap: 20px;
}

.hero-content h1 {
    font-size: clamp(2.5rem, 6vw, 4.5rem);
}

.hero-content button {
    width: 100%;
}

@media (min-width: 576px) {
    .hero-content button {
        width: 220px;
    }
}

@media (min-width: 768px) {
    .hero-content {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .hero-content {
        width: 50%;
    }
}

@keyframes move-arrow {
    0%   { transform: translateX(0); }
    100% { transform: translateX(4px); }
}

.view-all a:hover i,
a:hover .fa-arrow-right {
    animation: move-arrow 0.4s infinite alternate ease-in-out;
}
